@font-face {
    font-family: "Norse-Bold";
    src: url("./assets/fonts/Norse-Bold.otf");
}

body {
    margin: 0;
    padding: 0;
    font-family: "sans-serif";
}

.main-container {
    display: flex;
}

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    background-image: url("./assets/images/green-leaf-plant.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    height: 100vh;
}

.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 30%;
    padding: 10px 0px;
    gap: 16px;
}

.banner-container > img {
    max-height: 150px;
}

.banner-text {
    font-family: "Norse-Bold", "sans-serif";
    font-size: 8rem;
}

.image-credit-container {
    display: flex;
    justify-content: center;
}

.image-credit-text {
    font-size: small;
    font-weight: lighter;
    color: #dad9d9;
}

.image-credit-text > a {
    color: inherit;
}

.sign-up-container {
    display: flex;
    flex: 2;
    flex-direction: column;
    background-color: #f9fafb;
}

.text-top-container, .form-container, .text-bottom-container {
    padding-left: 5%;
}

.text-top-container {
    max-width: 80%;
    font-size: 2rem;
    font-weight: bold;
}

.form-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: space-evenly;
    flex: 1;
    box-shadow: 0px 5px 5px 1px rgba(0,0,0,0.1);
}

.form-container > h1 {
    margin: 0;
}

.form-details, form {
    display: flex;
    flex-wrap: wrap;
}

.form-details {
    column-gap: 150px;
    row-gap: 20px;
}

.form-user-input {
    display: flex;
    flex-direction: column;
}

.form-user-input > * {
    font-size: 0.9rem;
    letter-spacing: 1.5px;
}

.form-user-input > input {
    height: 1.5rem;
    width: 20rem;
    border-radius: 5px;
    border: 1px solid #e4e5e7;
    transition: 0.2s ease-out;
    outline: none;
}

.form-user-input > input:focus {
    border: 1px solid #2b6af5;
    scale: 1.02;
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.3);
}

.form-user-input > input:invalid {
    border: 1px solid #ff4937;
}

.text-bottom-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    padding-top: 50px;
}

.text-bottom-container > button {
    padding: 15px 60px;
    background-color: #596d48;
    color: white;
    border-radius: 10px;
    font-family: inherit;
    font-size: 1.1rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.text-bottom-container a {
    color: #596d48;
    text-decoration: none;
    font-weight: bold;
}